body {
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
@keyframes blink {
  0%   { border-bottom-color: #dcd113; }
  50% { border-bottom-color: red; }
  100%   { border-bottom-color: #dcd113; }
}
/* #clock {
  max-width: 300px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  border-bottom: 3px inset #dcd113;
} */
#clockbox {
  max-width: 300px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 10px;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  border-bottom: 3px inset #dcd113;
}
.timer {
  margin: 5px;
}
li {list-style-type: none;}
.pergunta {
    padding: 5px;
    font-size: 22px;
}
.questoes {
  border: 1px solid #fff;
  border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    font-weight: 200;
}
.btn-wide {
  margin: 0 10px;
  padding: 8px 25px;
  font-size: 18px;
  font-weight: 300;
}
.jumbotron {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #00bbec;
  color: white;
}
.big-font {
    padding-bottom: 10px;
    letter-spacing: 3px;
}
.left-block {
  border-right: 1px solid #fff;
  margin-right: 2%;
}
.destaque {
  color: #F7F10A;
  font-size: 1.35em;
}
.destaque a {
  color: #F7F10A;
  text-decoration: none;
}
.qrcode {
  max-width: 300px;
  margin: 15px 0;
}
.img-head {
  width:50%;
  max-width: 350px;
  border-bottom: 15px;
}
.logo-small {
  max-width:200px;
}
.logo-vert{
  /* width:100%; */
  max-height: 400px;
  border-bottom: 10px;
}
.listagem {
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 13px;
  padding-right: 15px;
  border-bottom: 2px solid rgba(255,255,255,0.35);
}
.listagem span.num-rank {
  font-size: 1.2em;
  font-weight: 500;
}
.listagem p.rank {
  font-size: 1.3em;
  margin-bottom: 0px;
  line-height: 1em;
  margin-right: 5px;
}
.listagem .head {
  font-size: 28px;
  font-weight: bold;
}
.listagem .aux {
  font-size: 17px;
}
span.mdfont strong {
  font-size: 22px;
}
.content {
  border-radius: 0;
}
.btn-center {
  margin-left: auto;
  margin-right: auto;
}
.input-style {
  height: 50px;
  padding: .375rem .75rem .2rem .75rem;
  font-size: 16px;
  border-radius: 0;
  border: none;
  border-bottom: 4px inset #dcd113;
}
.input-style:focus {
  outline: none;
  border-bottom: 4px inset #28a745;
  box-shadow: none;
}
.input-style::placeholder {
    /* color: #666 ; */
}
.btn-iniciar {
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 10px;
}
.btn-iniciar {
  border: none;
}
.acertos {
  font-size: 1.8em
}
.important-info {
  font-size: 28px;
}
.flashBorder {
    border-bottom: 3px solid;
    animation: blink 3s infinite;
}
 @media only screen and (max-width: 670px) {
  .logo-vert{
    width: 200px;
    max-height: 100%;
    border-bottom: 10px;
  }
  .logo-hor {
    width: 250px;
    max-width: 100%;
  }
  .qrcode {
    width: 200px;
  }
  .left-block {
    border-right: none;
    margin-right: 0;
  }
  .destaque {
    text-align: center;
  }
 }
